body, html {
    height: 100%;
    background-color: #ccddff;
}

.list-group-item {
    margin-top: 1em;
    border-width: .15em !important;
    border-color: black;
    background-color: white;
    border-radius: 1em !important;
    width: 80%;
}

.others {
    border-bottom-left-radius: 0 !important;
}

.mine {
    background-color: lightskyblue;
    border-bottom-right-radius: 0 !important;
    align-self: flex-end;
}

h3 {
    font-size: .8em;
    font-weight: 600;
}

#name-title {
    font-size: 1.5em;
    font-weight: 500;
}

.messages-row {
    overflow-y: scroll;
    flex-direction: column-reverse
}